 .root{
  font-family: 'Playfair Display', serif;
 }
 
 
 #root{
background-image: url("../src/Components/photos/background.jpg")
 }
 .MoviesList{
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
  width: 1200px;
  margin: 30px auto;
  padding: 20px;
  gap: 30px;
 
  background-color: #c8ad7f;
}
.star{
  margin: 1rem;
}

#btnLink   {
margin: auto auto;
}
ul :hover{
  text-decoration: underline;
  border-bottom-right-radius:30px ;
}

li{
  font-size:larger;
}

